#home
  .container  
    .row
      .span12
        .title
          We build
          %br
          state of the art 
          %br
          custom websites 
          %br
          and web applications

  #strip
    .container
      .row
        .span4.center
          %h2 How do we do it?
          %p
            We build our web applications and websites using Ruby on Rails and other modern web technologies. At Rebel Oupost, we take your web application and website dreams and make them a reality.
          

        .span4.center
          %h2 Who is Rebel Outpost?
          %p
            Rebel Outpost is a Web Development company based in Phoenix, AZ specializing in top of the line Ruby on Rails development. Click here to learn about the various services that we offer.
          

        .span4.center
          %h2 Want to know more?
          %p
            If you have an idea and want to talk about it, we would love to talk to you. If you have any questions about us or what we do, feel free to give us a call or send us a message.
          
      .row
        .span4.center
          %h3 Learn More
        .span4.center
          %h3 More About Us
        .span4.center
          %h3 Contact Us


  #about
    .container
