#home
  .container  
    .span12
      .title
        We build
        %br
        state of the art 
        %br
        web applications 
        %br
        using Ruby on Rails

  #strip
    .container
      .row
        .span4.center
          %h2 What do we do?
          %p
            We build state of the art web applications and websites using Ruby on Rails and other modern web technologies, through Agile test driven development. At Rebel Oupost, we take your web application and website dreams and make them a reality.


        .span4.center
          %h2 Who is Rebel Outpost?
          %p
            Rebel Outpost is a Web Development company based in Phoenix, AZ specializing in top of the line Ruby on Rails development. Click here to learn about the various services that we offer.

        .span4.center
          %h2 Want to know more?
          %p
            If you have an idea and want to talk about it, we would love to talk to you. If you have any questions about us or what we do, feel free to give us a call (480) 251-5162 or email us at Let's talk.

  #about
    .container
